@font-face {
    font-family: 'Popin Reguler';
    src: url('Font/Poppins-Regular.ttf');
}
@font-face{
    font-family: 'Popin SemiBold';
    src: url('Font/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'Popin Bold';
    src: url(Font/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat Bolditalic';
    src: url('Font/Montserrat-BoldItalic.ttf');
}
body{
    overflow-x: hidden;
}
.Navbar {
    position: relative;
    left: 2vw;
    top: 20px;
    display: flex;
    align-items: center; /* Menyamakan vertikal di tengah */
    gap: 4vw;
    margin-bottom: 40px;
}

.NamaPerusahaan {
    display: flex;
    font-family: 'Montserrat Bolditalic',sans-serif;
    position: relative;
    top: -0.2vw;
    
    margin-right: 8vw;
}
.Color1{
    font-family: 'Montserrat Bolditalic',sans-serif;
    color: black;
    text-decoration: none;
    font-size: 2.813vw;
}
.Color2{
    font-family: 'Montserrat Bolditalic',sans-serif;
    color:#668C6A;
    text-decoration: none;
    font-size: 2.813vw;
}
.dropbtn {
    background: none;
    background-color: none;
    color: black;
    width: 5vw;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Popin Regular',sans-serif;
    font-size: 1.563vw;
}

/* Container untuk Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Isi Dropdown (hidden secara default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:hover::after {
    transform: scaleX(1);
}
/* Links di dalam Dropdown */
.dropdown-content a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: black;
    width: 10vw;
    height: 2vw;
    text-align: center;
    text-decoration: none;
    display: block;
}
.dropdown-content a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
/* Mengubah warna link dropdown saat hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}


/* Menampilkan Dropdown saat hover */
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}


.JarakMenubar {
    position: relative;
    top: 0.1vw;
    display: flex;
    gap: 4vw;
}

.Menubar {
    font-family: 'Popin Regular',sans-serif;
    font-size: 1.563vw;
    text-decoration: none;
    color: black;
}


.profile{
    position: relative;
    background-color: gray;
    left: 18vw;
    height: 3.906vw;
    width: 3.906vw;
    border-radius: 50%;
}

.modal { /* Hidden by default */
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.close {
    color: #aaa;
    float: right;
    font-size: 2vw;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.NameAndPicture{
    display: flex;
}
.GmbrNameAndPicture{
    margin-left: 1vw;
    width: 3vw;
    height: 3vw;
}
.NameProfile{
    font-family: 'Popin Reguler',sans-serif;
    color: #668C6A;
    font-size: 1.3vw;
    position: relative;
    top: -1vw;
    left: 1.5vw;
}
.Garishiasan{
    border-radius: 50px;
    border: 0.4vw solid #668C6A;
}
.modal-content{
    width: 20vw;
}
.profilemenu{
    position: relative;
    top: 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
}
.menu{
    display: flex;
    width: 20vw;
    height: 3vw;
    text-decoration: none;
    font-family: 'Popin Reguler',sans-serif;
    font-size: 1.3vw;
    color: #0E0E0E;
}
.Menuu{
    width: 20vw;
    height: 3vw;
}
.Menuu:hover{
    background-color: #EEFFF0;
}
.menu #Gambar{
    position: relative;
    top: 0.8vw;
    margin-left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}
.menu #nama{
    position: relative;
    left: 1vw;
    top: 0.7vw;
    width: 95%;
}

.Section{
    position: relative;
    left: 8vw;
    top: 3vw;
    display: flex;
    gap: 12vw;
}
.kiri{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.kiri #Judul1{
    font-family: 'Popin SemiBold',sans-serif;
    font-size: 3vw;
}
.kiri #Deskripsi1{
    position: relative;
    top: -2vw;
    font-family: 'Popin Reguler',sans-serif;
    font-size: 1vw;
}
.kiri #Judul2{
    position: relative;
    top: -2vw;
    font-family: 'Popin SemiBold',sans-serif;
    font-size: 3vw;
}
.email{
    position: relative;
    top: -5vw;
    text-decoration: none;
    display: flex;
}
.gmbremail{
    top: 0.6vw;
    position: relative;
    width: 3vw;
    height: 3vw;
}
.email #Namaemail{
    border-radius: 5px;
    text-align: center;
    font-family: 'Popin Reguler',sans-serif;
    color: #312C2C;
    background-color: #B2B6B2;
    margin-left: 1vw;
    font-size: 1.2vw;
    height: 1.7vw;
    width: 15vw;
}

.email #Namaemail:hover{
    background-color: #668C6A;
}

.Kanan{
    position: relative;
    top: 4vw;
    border-radius: 30px;
    background : linear-gradient(to bottom,white,#99D89F);
    height: 39.5vw;
    width: 100vw;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 8vw;
}

.Kkiri {
    width: 35%;
}

.form-grup{
    position: relative;
    left: 3vw;
    top: 4vw;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    font-family: 'Popin Reguler',sans-serif;
    font-size: 1.1vw;
}
.form-grup input[type="text"]{
    height: 1vw;
}
.form-grup textarea{
    height: 10vw;
}
.submit{
    font-family: 'Popin Reguler',sans-serif;
    background-color: black;
    color: white;
    position: relative;
    left: 14vw;
    border: none;
    border-radius: 5px;
    width: 6vw;
    height: 2vw;
    font-size: 1.3vw;
}

.Kkanan{
    display: flex;
    flex-direction: column;
}
.Judul2{
    margin-top: 9vw;
    font-family: 'Popin SemiBold',sans-serif;
    display: flex ;
    flex-direction: column;
}
.Judul2 #Line1{
    font-size: 3vw;
}
.Judul2 #Line2{
    position: relative;
    top: -5vw;
    font-size: 1vw;
}
.GambarCs{
    position: relative;
    top: -5vw;
    width: 20vw;
    height: 20vw;
}
.Footer{
    left: -2vw;
    width: 106%;
    height: 20vw;
    background-color: #242424;
    position: relative;
    top: 15vw;
}
.Horizontal1{
    position: relative;
    top: 10%;
    display: flex;
    gap: 10vw;
}
.SocialMedia{
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
    margin-left: 5vw;
}
.SocialMedia #Judul{
    font-size: 1.3vw;
    font-family: 'Popin SemiBold',sans-serif;
    color: #668C6A;
}
.Gambarsosmed{
    display: flex;
    gap: 1vw;
}
.Gambarsosmed #Gambar{
    color: white;
    width: 2.5vw;
    height: 2.5vw;
    filter: brightness(0) invert(1);
}
.Daftarsosmed{
    opacity: 80%;
    font-size: 1vw;
    font-family: 'Popin Reguler',sans-serif;
    color: white;
    text-decoration: none;
    position: relative;
    top: -1vw;
}
.ServiceFooter{
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
}
.ServiceFooter #Judul{
    font-size: 1.3vw;
    font-family: 'Popin SemiBold',sans-serif;
    color: #668C6A;
}
.Daftarservice{
    opacity: 80%;
    font-size: 1vw;
    font-family: 'Popin Reguler',sans-serif;
    color: white;
    text-decoration: none;
    position: relative;
    top: -1vw;
}
.NamaPerusahaan2 {
    display: flex;
    font-family: 'Montserrat Bolditalic',sans-serif;
    position: relative;
    top: 3vw;
    left: 33vw;
    margin-right: 8vw;
}
.NamaPerusahaan2 #Color1{
    font-family: 'Montserrat Bolditalic',sans-serif;
    color: #668C6A;
    text-decoration: none;
    font-size: 2.813vw;
}
.NamaPerusahaan2 #Color2{
    font-family: 'Montserrat Bolditalic',sans-serif;
    color:white;
    text-decoration: none;
    font-size: 2.813vw;
}

.Horizontal2{
    display: flex;
    position: relative;
    left: 45vw;
    gap: 3vw;
}
.Horizontal2 #isi{
    font-size: 1vw;
    opacity: 80%;
    text-decoration: none;
    font-family: 'Popin Reguler',sans-serif;
    color: white;
}